/*-----------------------------------------------------------------------------
 [TABLE OF CONTENTS]
    =form
-----------------------------------------------------------------------------*/

/**
*
* =form
*
**/

input, button, textarea, select {
    font: 12px Tahoma, Helvetica, Arial, sans-serif;
}

label {
    cursor: pointer;
}

input[type="button"], input[type="reset"],
input[type="submit"], input[type="image"] {
    letter-spacing: 0.15mm;
    cursor: pointer;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    overflow: visible;
    width: auto;
    height: auto;
    padding: 4px 8px 5px;
    border: 1px solid #bbb;
    border-color: #ccc #bbb #999;
    background: #ddd url(../i/bg-btn.gif) repeat-x 0 0;
    color: #333;
    font: 11px/14px "Lucida Grande", sans-serif;
    cursor: pointer;
    text-shadow: 1px 1px 0 #fff;
    -webkit-appearance: none;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
    border-color: #999 #999 #888;
    background-position: 0 -6px;
    color: #000;
    text-decoration: none;
    -moz-box-shadow: #bbb 0 0 8px;
    -khtml-box-shadow: #bbb 0 0 8px;
    -webkit-box-shadow: #bbb 0 0 8px;
    box-shadow: #bbb 0 0 8px;
}

input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    outline: none !important;
    text-shadow: none !important;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    height: 23px\9 !important;
}

input[type="search"], input[type="text"], input[type="password"], textarea {
    border: 1px double #c0c0c0;
    background-color: #fff;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

.mark-required {
    margin-right: 5px;
    border: none;
    font-weight: bold;
}