/*-----------------------------------------------------------------------------
 [TABLE OF CONTENTS]
    +content-main
        =slogan
        =form
-----------------------------------------------------------------------------*/

#content-wrapper {
    background: url(../../i/bg-product.png) no-repeat center 200px;
}

#content-main .article-content {
    margin-bottom: 30px;
}

#content-main .article-content h2 {
    margin: 0;
}

#inquiry-list p.notice {
    margin-bottom: 20px;
    border-bottom: 2px solid #9b7c43;
    text-align: right;
}

/**
*
* =table
*
**/

#inquiry-list table {
    width: 99%;
    margin: 40px auto 20px;
    border: 5px solid #9b7c43;
    border-top: none;
}

#inquiry-list table th {
    height: 27px;
    background-color: #9b7c43;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#inquiry-list table tr.hover {
    background-color: #eee;
    cursor: pointer;
}

#inquiry-list table td {
    padding: 5px 0;
    border-bottom: 2px solid #9b7c43;
    text-align: center;
    vertical-align: middle;
}

/**
*
* =slogan
*
**/

#content-main #inquiry-list .slogan {
    position: relative;
    height: 204px;
    margin-bottom: 20px;
    padding: 50px 0 0 10px;
    background: url(../../i/photo-slogan04.png) no-repeat right 0;
    border-bottom: 2px solid #9b7c43;
}

#content-main #inquiry-list .slogan h5 {
    margin-bottom: 15px;
    color: #9b7c43;
}

#content-main #inquiry-list .slogan h3 {
    margin-bottom: 15px;
    color: #8e9e20;
    font-weight: bold;
    font-size: 28px;
}

#content-main #inquiry-list .slogan h4 {
    color: #717171;
    font-weight: bold;
    font-size: 18px;
}

#content-main #inquiry-list .slogan p {
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: #717171;
}

/**
*
* =form
*
**/

#inquiry-list form fieldset {
    padding: 0 80px 0 70px;
    border-bottom: 2px solid #9b7c43;
}

#inquiry-list form fieldset.button {
    padding-top: 12px;
    border: none;
    text-align: center;
}

#inquiry-list form fieldset p {
    overflow: hidden;
    margin-bottom: 10px;
}

#inquiry-list form fieldset p label {
    float: left;
    width: 70px;
    margin-right: 10px;
    padding-left: 10px;
    color: #717171;
    font-weight: normal;
    font-size: 16px;
}

#inquiry-list form fieldset p label acronym {
    margin-left: -7px;
}

#inquiry-list form fieldset p textarea,
#inquiry-list form fieldset p input {
    width: 320px;
    border: 1px solid #abadb3;
}

#inquiry-list form fieldset p input.length-xs {
    width: 30px;
}

#inquiry-list form fieldset p input.length-s {
    width: 60px;
}

#inquiry-list form fieldset p img {
    margin: 0 5px;
    vertical-align: middle;
}

#inquiry-list form fieldset.button input {
    display: inline-block;
    width: 74px;
    height: 22px;
    margin: 0 10px 0 0;
    border: none;
    background: url(../../i/btn-form.png) no-repeat 0 0;
    text-indent: -100000px;
}

#inquiry-list form fieldset.button input.btn-reset {
    margin: 0;
    background-position: 0 -22px;
}